# ignore external data
/ext_data/*

# and anything not-final that could be generated again
#/output/*
/ext_data_notebooks/.ipynb_checkpoints/*

# only track qmd and .py versions of notebooks.
*.ipynb
*.pdf
*.png
*.svg
*.html

# Intermediate Data -----------------------------------------------------------
# pickled data
*.p 
*.RDS
*.rda
*.json
*.xlsx

/ext_data_notebooks/.Rhistory
/ext_data_notebooks/raw.githubusercontent.com/plotly/datasets/master/mesh_dataset.txt
/ext_data_notebooks/genetic_algo_Population_History.*

# ignore zips
*.7z
*.tar.gz